@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f4f4f4;;
  margin-bottom: 44px;
  line-height: 1.57142857;
  font-family: "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}