<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a class="navbar-brand logo" href="/">
        <span><%= title %></span>
      </a>
      <button type="button" class="btn btn-default pull-right navbar-btn">Sign in</button>
    </div>
  </div>
</nav>
