<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a class="navbar-brand logo" href="/">
        <span><%= (typeof title != "undefined" ? title : "") %></span>
      </a>
    </div>
  </div>
</nav>
